.section-card {
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius);
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
    width: 17%;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: width 0.5s ease;
    transition: padding 1s ease;
}
.card:hover {
    width: 17.5%;
    padding: 0.95rem;
}
.card-img {
    border-radius: var(--border-radius);
    display: flex;
}
.img {
    width: 125%;
    margin: 0 auto;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
}
.card-title {
    font-family: var(--font-h2);
    text-align: center;
    font-size: 1.25rem;
    margin: 1rem;
}

@media (max-width: 1600px) {
    .card {
        width: 21%;
    }

    .card:hover {
        width: 21.5%;
    }
}
@media (max-width: 1300px) {
    .card {
        width: 28%;
    }

    .card:hover {
        width: 28,5%;
    }
}

@media (max-width: 950px) {
    .card {
        width: 42%;
    }

    .card:hover {
        width: 42,5%;
    }
}

@media (max-width: 700px) {
    .card {
        width: 90%;
    }

    .card:hover {
        width: 90.5%;
    }
}

/* À partir de 400px : smartphones */
