.section-card {
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius);
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
    width: 17%;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: width 0.5s ease;
    transition: padding 1s ease;
}
.card:hover {
    width: 17.5%;
    padding: 0.95rem;
}
.card-img {
    border-radius: var(--border-radius);
    display: flex;
}
.img {
    width: 100%;
    margin: 0 auto;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
}
.card-title {
    font-family: var(--font-h2);
    color: var(--color-text);
    text-align: center;
    font-size: 1.25rem;
    margin: 1rem;
}
.btn-réservation {
    background-color: var(--button-primary);
    color: var(--color-text);
    border: none;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-réservation:hover {
    background-color: var(--button-hover);
}
.btn-réservation {
    background-color: #4CAF50; /* Vert */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-réservation:hover {
    background-color: #45a049;
}