.section-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-tertiary);
    padding: 2rem;
    margin: 2rem;
    border-radius: var(--border-radius);
    width: 50%;
}
p {
    font-size: 1.2rem;
}
.area-signup {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    
}
.label-content, .input-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 0.5rem;
    gap: 1rem;
    margin: 1rem;
}
input {
    padding: 0.2rem;
}
.message {
    align-items: center;
    justify-content: center;
    justify-items: center;

}